/* import downloaded font */
@font-face {
  font-family: didot;
  src: url('./../fonts/Didot Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Shopping cart */
.shoppingCartNav {
  border-radius: 5px;
  color: aliceblue !important;
  margin-bottom: 10px;
}

.shoppingCartNav:hover {
  background-color: #201c1c !important;
}

.shoppingCartNav {
  border-radius: 5px;
  color: aliceblue !important;
  margin-bottom: 10px;
}

.shoppingCartNav:hover {
  background-color: #201c1c !important;
}

/* /Shopping cart */

/* product detail */

.ProdDetTitle {
  margin-bottom: 10px;
  font-family: didot;
}

.price {
  font-size: 1.5rem;
  font-weight: '400';
}